:root{
    --white      : #FFFFFF;
    --black      : #171819;
    --background : #f2f6fe; /* #F1F1F1; */
    --primary    : #4683F7;
    --warning    : #ff5757;
    --success    : #88b979;
    --title      : #171819;
    --paragraph  : #5A5A5C; 
    --shadow     : #D8D8D8;
    --shippori   : 'Shippori Antique', sans-serif;
    --open-sans  : 'Open Sans', sans-serif;
    --raleway    : 'Raleway', sans-serif;
}

.body{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    width: 100vw;
    color: var(--paragraph);
    font-family: var(--raleway);
    font-weight: 600;
}

/* ========================SideBar======================== */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 5em;
    height: 100vh;
    position: fixed;
    bottom: 0;
    padding: 2em 1em;
    background-color: var(--white);
    border-right: 1px solid var(--shadow);
    box-shadow: 10px 4px 70px 10px rgba(0, 0, 0, 0.05);  
}
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--shadow);
}
.logo__h2{
    display: none;
}
.logo__icon{
    font-size: 2em;
    color: var(--title);
}
.sidebar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 1em;
}
.sidebar__list--config{
    margin-top: auto;
}
.sidebar__item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.sidebar__link{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .5em 0;
    transition: all .3s ease;
    color: var(--paragraph);
    border-radius: .5em;
}
.sidebar__link:hover{
    color: var(--primary);
}
.sidebar__icon{
    font-size: 1.5em;
}
.sidebar__label{
    display: none;
}

/* ========================Header======================== */

.header{
    display: flex;
    width: 100%;
    height: 6em;
    background-color: var(--background);
}
.search{
    width: 90%;
    margin: auto;
}
.search__wrapper{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    box-shadow: 4px 10px 20px 4px rgba(0, 0, 0, 0.02);
}
.search__input{
    width: 100%;
    padding: .8em 1em;
    border: none;
    border-bottom: 1px solid var(--shadow);
    outline: none;
}
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration{
    display: none;
}
.search__button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1em;
    color: var(--paragraph);
    cursor: pointer;
    padding: 0;
}

/**
    Nav
*/
.nav{
    display: flex;
    justify-content: center;
    width: calc(100vw - 5em);
    height: 5em;
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    border-top: 1px solid var(--shadow);
    transition: all .5s ease-in-out;
    z-index: 3;
}
.nav--active{
    height: 18em;
}
.nav__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 1.2em;
}
.nav__img{
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    position: absolute;
    top: -1.5em;
}
.nav__data{
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
    cursor: pointer;
}
.nav__icon--active{
    transform: rotate(180deg);
}
.list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: .6em;
    margin: 2em 0;
}
.list__li{
    padding: .2em 1em;
}
.list__li:nth-child(4){
    color: var(--warning);
}
.list__link{
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-decoration: none;
    color: inherit;
}
.list__link:hover{
    color: var(--primary);
}

/* ========================Cover======================== */

.cover{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #171819ad;
    position: absolute;
    z-index: 3;
    transition: all .5s ease-in-out;
}
.cover--active{
    visibility: visible;
    opacity: 1;
}

/* ========================Main======================== */

.main::-webkit-scrollbar {
    display: none;
}
.main{
    width: calc(100% - 5em);
    min-height: 100vh;
    position: absolute;
    right: 0;
    background-color: var(--background);
    overflow-y: scroll;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1em;
    margin: auto;
    margin-bottom: 10em;
}
.hero__title{
    width: 100%;
    padding: .5em 0;
    font-size: 1.5em;
    color: var(--title);
}

/* ========================Statistics======================== */

.statistics{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--shadow);
    box-shadow: 8px 10px 30px 5px rgba(0, 0, 0, 0.05);
}
.statistics__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    grid-column: 1/2;
    grid-row: 1/2;
}
.statistics__graphics{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0em 2em 2em 2em;
    gap: 1em;
}
.statistics__title{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1em;
    color: var(--title);
    font-weight: 800;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 2em;
}
.statistics__data{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--shadow);
    padding-bottom: 1em;
    gap: 1em;
}
.statistics__data:nth-last-of-type(2){
    margin-bottom: 1em;
}
.statistics__box{
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: relative;
}
.statistics__circle{
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 50%;
    background-color: var(--success);
}
.statistics__circle--inactives{
    background-color: var(--warning);
}
.statistics__spinner{
    width: 11.375em;
    height: 11.375em;
}
.statistics__circle{
    fill: none;
    stroke: var(--shadow);
    stroke-width: 2em;
    stroke-dasharray: 100 100;
    transform: rotate(-90deg);
    transform-origin: 50%;
}
.statistics__circle--active{
    stroke: var(--success);
    stroke-dasharray: 0 100;
    stroke-linecap: round;
    animation: spinner 2s linear forwards 1s;
}
.statistics__circle--inactive{
    stroke: var(--warning);
    stroke-dasharray: 0 100;
    stroke-linecap: round;
    animation: spinner 2s linear forwards 1s;
}

@keyframes spinner {
    to{
        stroke-dasharray: var(--percentage) 100;
    }
}

.statistics__value{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    font-size: 2em;
    font-weight: 700;
}

/* ========================Todolist======================== */

.todolist{
    width: 100%;
    padding: 2em;
    color: var(--paragraph);
    background-color: var(--white);
}
.todolist__header{
    width: 100%;
    position: relative;
}
.todolist__input{
    width: 100%;
    padding: 1em 1em 1em 3em;
    border: 1px solid var(--shadow);
    outline: none;
    background-color: transparent;
    z-index: 2;
}
.todolist__input::placeholder{
    color: var(--shadow);
}
.todolist__icon{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    align-items: center;
    margin-left: .5em;
    font-size: 1.4em;
    z-index: 1;
    color: var(--shadow);
}
.todolist__filter{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    gap: 1em;
    align-items: center;
    border-bottom: 1px solid var(--shadow);
}
.todolist__span{
    cursor: pointer;
    font-size: .9em;
}
.active{
    color: var(--primary);
}
.todolist__span:hover{
    color: var(--primary);
}
.todolist__button{
    display: flex;
    padding: .5em 1em;
    border: none;
    border-radius: .4em;
    background-color: var(--warning);
    color: var(--white);
    cursor: pointer;
    font-size: .9em;
    gap: .5em;
}
.todolist__button:hover{
    background-color: #ff3d3d;
}
.lists{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}
.lists__alert{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em 0 0 0;
    align-items: center;
    justify-content: center;
    color: var(--shadow);
}
.lists__icon{
    font-size: 1.5em;
}
.lists__tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.lists__task{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em 0;
    border-bottom: 1px solid var(--shadow);
}
.lists__task:first-child{
    padding: 0 0 1em 0;
}
.lists__label{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.lists__checkbox{
    width: 1em;
    height: 1em;
    margin-right: 1em;
    cursor: pointer;
}
.checked{
    text-decoration: line-through;
}
.lists__icon{
    cursor: pointer;
}
.setting{
    position: relative;
}
.setting__dots{
    cursor: pointer;
}
.setting__menu{
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 1em;
    gap: 1em;
    background-color: var(--white);
    border: 1px solid var(--shadow);
    font-size: .9em;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s ease-in-out;
    z-index: 1;
}
.setting:hover .setting__menu{
    opacity: 1;
    visibility: visible;
}
.setting__menu li{
    cursor: pointer;
}
.setting__menu li:hover{
    color: var(--primary);
}
.setting__icon{
    margin-right: .5em;
}
/* ========================Media querys======================== */

@media screen and (min-width: 768px) {
    .sidebar{
        width: 15em;
        padding: 2em;
    }
    .logo{
        justify-content: start;
        gap: 1em;
        color: var(--title);
    }
    .logo__h2{
        display: flex;
        align-items: center;
    }
    .sidebar__link{
        flex-direction: row;
        justify-content: start;
        gap: 1em;
    }
    .sidebar__label{
        display: flex;
    }
    .main{
        width: calc(100% - 15em);
    }
    .header{
        width: 90%;
        padding: unset;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .search{
        width: 40%;
        margin: 0;
    }
    .nav{
        width: unset;
        height: unset;
        transform: unset;
        position: unset;
        background-color: unset;
        border: unset;
    }
    .nav__wrapper{
        flex-direction: row;
        gap: 1em;
        font-size: unset;
    }
    .nav__img{
        position: unset;
        top: unset;
    }
    .nav__data{
        height: 100%;
        padding: 0 2em;
        align-items: center;
        margin-top: unset;
        background-color: var(--white);
        position: relative;
        border-bottom: 1px solid var(--shadow);
    }
    .list{
        display: flex;
        width: 12.39em;
        height: unset;
        position: absolute;
        background-color: var(--white);
        top: 1.5em;
        right: 0;
        padding: 1em 0;
        gap: 1em;
        margin: 2em 0 0 0;
        visibility: visible;
        opacity: 1;
        transition: clip-path .5s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .list--active{
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .hero__title{
        font-size: 2em;
    }
    .notification{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
    .notification__picture{
        margin-bottom: unset;
        width: max-content;
    }
    .notification__img{
        font-size: 4em;
    }
    .notification__icon{
        top: 1em;
        right: 1em;
    }
}

@media screen and (min-width : 1200px){
    .statistics{
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        width: 100%;
        max-width: unset;
        height: 15em;
    }
    .statistics__header{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .statistics__graphics{
        flex-direction: row;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 2em;
    }

}