:root{
    --white      : #e8e8e9;
    --black      : #171819;
    --grey       : #2B2C2E;
    --blue       : #4683F7;
    --orange     : #E9755E;
    --green-aqua : #C7F1FF;
    --shippori   : 'Shippori Antique', sans-serif;
    --open-sans  : 'Open Sans', sans-serif;
    --raleway    : 'Raleway', sans-serif;
}

.body{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
    color: var(--white);
    font-family: var(--raleway);
}

/* ========================SideBar======================== */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 5em;
    height: 100vh;
    position: sticky;
    padding: 2em 1em;
    background-color: var(--black);
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--grey);
}

.logo__h2{
    display: none;
}

.logo__icon{
    font-size: 2em;
    color: var(--orange);
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 1em;
}

.sidebar__list--config{
    margin-top: auto;
}

.sidebar__item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.sidebar__link{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .5em 0;
    transition: all .3s ease;
    color: var(--orange);
    border-radius: .5em;
    *border: 1px solid yellow;
}

.sidebar__link:hover{
    background-color: var(--orange);
    color: var(--white);
}

.sidebar__icon{
    font-size: 1.5em;
}

.sidebar__label{
    display: none;
}
/* ========================Main======================== */

.main{
    width: calc(100vw - 5em);
    background-color: var(--grey);
    overflow-y: scroll;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;

}

.caja1, .caja2, .caja3, .caja4, .caja5, .caja6, .caja7,
.caja8, .caja9, .caja10{
    width: 15em;
    height: 15em;
    background-color: #4683F7;
}

/* ========================Media querys======================== */

@media screen and (min-width: 768px) {

    
}