/* ========================Preloader======================== */
.preloader{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .6s ease-in-out;
}

.preloader-logo{
    width: max-content;
    height: 5em;
    font-family: var(--shippori);
    overflow: hidden;
}

.preloader-ul{
    width: max-content;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    padding: 0;
    color: var(--white);
    animation: change 10s infinite ease-in-out;
}

.preloader-li{
    line-height: 2em;
}

@keyframes change{
    0%{
        margin-top: 8.95em;
        opacity: 0;
    }

    15%{
        opacity: 1;
    }

    25%{
        margin-top: 8.95em;
    }

    37.5%{
        margin-top: 2.95em;
    }

    50%{
        margin-top: 2.95em;
    }

    62.5%{
        margin-top: -3.05em;
    }

    75%{
        margin-top: -3.05em;
    }

    87.5%{
        margin-top: -9.05em;
    }

    85%{
        opacity: 1;
    }

    100%{
        margin-top: -9.05em;
        opacity: 0;
    }
}

.preloader-dots{
    width: 10em;
    height: 3em;
    gap: 1em;
}

.preloader-dot{
    width: .8em;
    height: .8em;
    border-radius: 50%;
}

.preloader-dots span:nth-child(1){
    background-color: var(--blue);
    animation: dot-anim 1s infinite alternate ease-in-out;
}

.preloader-dots span:nth-child(2){
    background-color: var(--orange);
    animation: dot-anim 1s infinite alternate ease-in-out .2s;
}

.preloader-dots span:nth-child(3){
    background-color: var(--green-aqua);
    animation: dot-anim 1s infinite alternate ease-in-out .4s;
}

@keyframes dot-anim {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}


/* <div class="preloader d-flex flex-column justify-content-center align-items-center">

<div class="preloade-box d-flex flex-column justify-content-center align-items-center">
  
    <div class="preloader-logo d-flex justify-content-center align-items-center">
        <ul class="preloader-ul nav d-flex flex-column">
            <li class="preloader-li">GrowApp</li>
            <li class="preloader-li">orden</li>
            <li class="preloader-li">control</li>
            <li class="preloader-li">crecimiento</li>
        </ul>
    </div>
  
    <div class="preloader-dots d-flex justify-content-center align-items-center">
        <span class="preloader-dot"></span>
        <span class="preloader-dot"></span>
        <span class="preloader-dot"></span>
    </div>
</div>
</div> */

